<h1>パスワードリセット</h1>

<p>パスワードをリセットするために下記のリンクを押してください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは 2 時間後に期限切れになります。</p>

<p>
パスワードのリセットをリクエストしていない場合は、このメールを無視してください。
パスワードはそのまま残ります。
</p>