<footer class="footer">
  <small>
    <a href="#">ホラー映画レビューサイト</a>
    by <a href="#">r.t</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "このサイトについて", about_path %></li>
      <li><%= link_to "問い合わせ先",      contact_path %></li>
    </ul>
  </nav>
</footer>